<div class="app-feed">
  <div class="spacer"></div>
  <div class="feed-section">
    <div *ngFor="let post of posts">
      <div class="post">
        <div class="user"
             routerLink="../profile/{{post.userId}}">
          {{ post.userId }}
        </div>
        <div class="timestamp">{{ post.date | date: 'dd/MM/yyyy hh:mm:ss' }}</div>
        <div class="post-text">{{ post.text }}</div>
        <div class="comment-area">
          <button
            mat-raised-button
            class="comment-button"
            (click)="openCommentDialog(post)">
            Comment
          </button>
          <button disabled class="comment-count">
            {{ $any(post).comments.length }} comments
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="spacer">
    <button class="open-dialog" mat-raised-button (click)="openCreateDialog()">Create New Post</button>
  </div>
</div>
