:host {
  display: flex;
  flex-direction: column;
}

.app-feed {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.feed-section {
  flex: 6;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column-reverse;
  padding-right: 0.2rem;
}

.post {
  display: grid;
  grid-template-columns: 1fr 2fr 10fr 3fr;
  grid-template-rows: 1.5fr 3fr 2fr;
  grid-template-areas:
    "top1 top2 top3 top4"
    "mid1 mid2 mid3 mid4"
    "bot1 bot1 bot3 bot4";
  width: 100%;
  height: 8rem;
  margin: 0 0 5px 0;
  border: 2px solid black;
  min-height: 0;
  min-width: 0;
}

.user {
  grid-area: top1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  color: white;
  overflow: hidden;
  min-width: 0;
}

.post-text {
  grid-area: mid3;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  font-size: 1rem;
  text-align: left;
  overflow: hidden;
  min-width: 0;
}

.timestamp {
  grid-area: top4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  margin-right: 0.2rem;
  overflow: hidden;
  min-width: 0;
}

.comment-area {
  grid-area: bot1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow: hidden;
  min-width: 0;
}

.comment-button {
  flex: 1;
  min-width: fit-content;
}

.comment-count {
  flex: 1;
  min-width: fit-content;
}

.spacer {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  background-color: lightgrey;
}

.open-dialog {
  height: 3rem;
}

