<div class="app-feed">
  <div class="spacer"></div>
  <div #feedSection class="feed-section">
    <div *ngFor="let post of posts">
      <mat-card class="post">
        <div class="user"
             routerLink="../profile/{{post.userId}}">
          <img src="{{ getProfilePicture(post.userId) }}" alt="">
        </div>
        <mat-card class="timestamp">
          {{ post.date | date: 'dd/MM/yyyy hh:mm:ss' }}
        </mat-card>
        <mat-card-content class="post-text">
          {{ post.text }}
        </mat-card-content>
        <div class="comment-area">
          <button
            mat-raised-button
            color="primary"
            class="comment-button"
            (click)="openCommentDialog(post)">
            <mat-icon>forum</mat-icon>
          </button>
          <button mat-stroked-button disabled class="comment-count">
            {{ post.comments?.length }}
            <mat-icon color="primary">message</mat-icon>
          </button>
        </div>
        <div
          *ngIf="isCurrentPostAuthor(post)"
          class="action-area">
          <button
            class="delete"
            mat-stroked-button
            (click)="openDeleteDialog(post)">
            <mat-icon>delete</mat-icon>
          </button>
          <button
            class="update"
            mat-stroked-button
            (click)="openUpdateDialog(post)">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="spacer">
    <div
      matTooltip="Create a profile before creating a post"
      [matTooltipDisabled]="hasProfile">
      <button
        class="open-dialog"
        mat-raised-button
        [disabled]="!hasProfile"
        (click)="openCreateDialog()">Create New Post
      </button>
    </div>
    <button
      mat-raised-button
      *ngIf="newPostsAvailable"
      (click)="feedSection.scrollTop = -feedSection.scrollHeight; newPostsAvailable = false"
      color="primary">
      More Posts...
    </button>
  </div>
</div>
