<form [formGroup]="form" (ngSubmit)="submit()">
  <div mat-dialog-content>
    <mat-form-field class="post" appearance="fill">
      <mat-label>Selected Post</mat-label>
      <textarea
        #postTextArea
        formControlName="postText"
        class="post-textarea"
        matNativeControl
        cdkTextareaAutosize
        cdkAutosizeMinRows="3"
        required
        maxlength="300">
      </textarea>
      <div class="post-length-count">
        {{ postTextArea.value.length }} / 300 Characters
      </div>
    </mat-form-field>
  </div>
  <div *ngIf="postText?.invalid && (postText?.dirty || postText?.touched)"
       class="alert alert-danger">
    <div *ngIf="postText?.errors?.['required']">
      Post text is required.
    </div>
  </div>
  <div mat-dialog-actions>
    <button
      mat-raised-button
      [mat-dialog-close]="">
      Cancel
    </button>
    <button
      mat-raised-button
      type="submit"
      [disabled]="form.invalid"
      mat-dialog-close>
      Update Post
    </button>
  </div>
</form>
