<div fxLayout="column" fxFlex="50">
  <h1>Login</h1>
  <form [formGroup]="form" (ngSubmit)="login()">
    <mat-form-field appearance="fill">
      <label>Username</label>
      <input matInput type="text" formControlName="username">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <label>Password</label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>
    <button mat-raised-button type="submit">Login</button>
    <button mat-raised-button color="primary" type="submit">Register</button>
  </form>
</div>
