.profile-input {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.post-input-field {
  width: 45em;
  height: 10rem;
  align-self: center;
}

.post-input-textarea {
  height: 6rem;
  resize: none;
  font-size: 1.3rem;
}
