.wrapper {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;
}

router-outlet {
  display: flex;
}

header {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-direction: column;
  min-height: 5rem;
  background-color: steelblue;
  text-align: center;
  font-size: 2rem;
}
