.wrapper {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;
}

router-outlet {
  display: flex;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 5rem;
  background-color: #3f51b5;
  text-align: center;
  color: white;
  font-size: 2rem;
}

.login {
  margin-left: auto;
  display: flex;
}

.logged-in {
  flex: 2;
}

.submit-login {
  flex: 1;
}
