<div class="profile-page">
  <div class="spacer"></div>
  <div class="profile">
    <h1>Profile of Reloaddev</h1>
    <div class="picture">
      <img src="https://cdn.dribbble.com/users/75302/screenshots/11367744/media/61f3f744fb8086b8e908aacef4c6f8c9.jpg"
           alt=""
           width="200"
           height="200">
    </div>
    <div class="description">
      <mat-card>A junior software developer</mat-card>
    </div>
    <div class="post-count">
      <mat-card>125 Posts</mat-card>
    </div>
    <div class="comment-count">
      <mat-card>2323465 Comments</mat-card>
    </div>
    <h1>Recent posts</h1>
  </div>
  <div class="spacer"></div>
</div>
