<div class="profile-page">
  <div class="spacer"></div>
  <div *ngIf="profile" class="profile">
    <h1>Profile of {{ profile.name }}</h1>
    <div class="picture">
      <img src="{{ profile.picture }}"
           alt=""
           width="200"
           height="200">
    </div>
    <div class="description">
      <mat-card>"{{ profile.description }}"</mat-card>
    </div>
    <div class="post-count">
      <mat-card>{{ profile.postCount }} Posts</mat-card>
    </div>
    <div class="comment-count">
      <mat-card>{{ profile.commentCount }} Comments</mat-card>
    </div>
    <h1>Recent posts</h1>
  </div>
  <div *ngIf="!profile && this.editEnabled" class="profile">
    <button mat-raised-button routerLink="../feed">Return to feed</button>
  </div>
  <div *ngIf="!profile && !this.editEnabled" class="profile">Missing profile</div>
  <div class="spacer"></div>
</div>
<div *ngIf="editEnabled">EDIT ENABLED</div>
