<form [formGroup]="form" (ngSubmit)="login()">
  <mat-form-field appearance="fill">
    <label>Username</label>
    <input matInput type="text" formControlName="username">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <label>Password</label>
    <input matInput type="password" formControlName="password">
  </mat-form-field>
  <button mat-raised-button type="submit">Login</button>
  <div *ngIf="!this.authService.isLoggedIn && submitted" class="alert alert-danger">
    Login failed. Check Username/password combination.
  </div>
</form>
